<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- mylib -->
    <link href="css/mylib/common.css" rel="stylesheet">
    <link href="css/mylib/main.css" rel="stylesheet">
    <link href="css/mylib/tablet.css" rel="stylesheet">
    <link href="css/mylib/medium-desktop.css" rel="stylesheet">
    <link href="css/mylib/large-desktop.css" rel="stylesheet">
    <link href="css/mylib/debug.css" rel="stylesheet">
    <!-- myapp -->
    <link href="css/myapp/main.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <!-- title -->
    <title>Business Card Bank</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <h1>Business Card Bank</h1>
    </header>
    <!-- nav -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarTop">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarTop">
          <ul class="nav navbar-nav">
            <li id="switch-desc"><a>Desc</a></li>
            <li id="switch-user"><a>Login</a></li>
            <li id="switch-card"><a>Card</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- main -->
    <main>
      <!-- error -->
      <div class="content" id="error-area">
        <div class="content-header">
          非対応ブラウザ
        </div>
        <div class="content-item">
          ES2015をサポートしているブラウザでご覧ください。
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer>
      <p id="footer-text">
        @ 2017 <a href="https://github.com/AyaNakazawa/business_card_bank" target="_blank">Business Card Bank</a>
      </p>
    </footer>
    <!-- confirm -->
    <div id="confirm-view"></div>
    <!-- template -->
    <!-- confirm-view -->
    <script type="text/template" id="confirm-view-template">
      <div id="<%- confirmId %>" class="modal fade" data-backdrop="static" data-keyboard="false" data-html="true" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" id="<%- confirmId %>-close">
                <span>
                  <i class="fa fa-close"></i>
                </span>
              </button>
              <h4 class="modal-title"><%- confirmTitle %></h4>
            </div>
            <div class="modal-body"><%- confirmMessage %></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="<%- confirmId %>-yes"><%- yes %></button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="<%- confirmId %>-no"><%- no %></button>
            </div>
          </div>
        </div>
      </div>
    </script>
    <!-- logined-template -->
    <script type="text/template" id="logined-template">
      <div class="content-item" id="logined-message">
        <label for="logined-id">ID</label>
        <span class="help-icon fa fa-question-circle" id="logined-id-help"></span>
        <input type="text" id="logined-id" class="form-control" value="<%- id %>" disabled>
      </div>
      <div class="content-item form-group" id="logined-logout-area">
        <button class="btn btn-default" id="logout-submit"><i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト</button>
      </div>
    </script>
    <!-- alert-template -->
    <script type="text/template" id="alert-template">
      <div class="alert alert-<%- type %> alert-dismissible" role="alert">
        <% if (close) { %>
        <button type="button" class="close" data-dismiss="alert">
          <span class="fa fa-close" aria-hidden="true"></span>
        </button>
        <% } %>
        <%- message %>
      </div>
    </script>
    <!-- not-login-template -->
    <script type="text/template" id="not-login-template">
      <div class="content-item" id="user-id-area">
        <label for="user-id">ID</label>
        <span class="help-icon fa fa-question-circle" id="user-id-help"></span>
        <input type="text" id="user-id" class="form-control" value="<%- id %>" placeholder="Enter your ID">
      </div>
      <div class="content-item form-group" id="user-password-area">
        <label for="user-password">パスワード</label>
        <span class="help-icon fa fa-question-circle" id="user-password-help"></span>
        <input type="password" id="user-password" class="form-control" value="<%- password %>" placeholder="Enter your password">
      </div>
      <!-- <div class="content-item" id="user-check-area">
        <span class="checkbox">
          <label><input type="checkbox" id="user-check">ログインしたままにする</label>
        </span>
        <span class="help-icon fa fa-question-circle" id="user-check-help"></span>
      </div> -->
      <div class="content-item form-group" id="login-submit-area">
        <button class="btn btn-default" id="login-submit"><i class="fa fa-sign-in" aria-hidden="true"></i> ログイン</button>
        <button class="btn btn-default" id="signup-submit"><i class="fa fa-user-plus" aria-hidden="true"></i> サインアップ</button>
      </div>
    </script>
    <!-- loading-template -->
    <script type="text/template" id="loading-template">
      <div class="content-header">
        <%- header %>
        <span class="fa fa-spinner loading-spinner"></span>
      </div>
      <div class="content-item">
        <%- message %>
        <span class="loading-dot"></span>
      </div>
    </script>
    <!-- card-table-template -->
    <script type="text/template" id="card-table-template">
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th></th>
              <th>氏名</th>
              <th>会社</th>
              <th>所属</th>
              <th>役職</th>
              <th>電話</th>
            </tr>
          </thead>
          <tbody id="card-tbody">
          </tbody>
        </table>
      </div>
    </script>
    <!-- card-tbody-template -->
    <script type="text/template" id="card-tbody-template">
      <tr class="card-<%- card['id'] %> card-main" id="card-<%- card['id'] %>-main">
        <td><span class="fa fa-edit card-<%- card['id'] %>-edit"></span></td>
        <td><ruby>
          <rb><%- card['name'] %></rb>
          <rp>（</rp>
          <rt><%- card['nameKana'] %></rt>
          <rp>）</rp>
        </ruby></td>
        <td><ruby>
          <rb><%- card['companyName'] %></rb>
          <rp>（</rp>
          <rt><%- card['companyNameKana'] %></rt>
          <rp>）</rp>
        </ruby></td>
        <td><%- card['department'] %></td>
        <td><%- card['post'] %></td>
        <td><%- card['telephone'] %></td>
      </tr>
    </script>
    <!-- card-hover-template -->
    <script type="text/template" id="card-hover-template">
      <div class="card-<%- card['id'] %> card-hover" id="card-<%- card['id'] %>-detail" style="display:none;">
        <div>
          <label>登録日時</label>
          <span><%- card['registerDate'] %></span>
        </div>
        <div>
          <label>更新日時</label>
          <span><%- card['updateDate'] %></span>
        </div>
        <div>
          <label>郵便番号</label>
          <span><a href="http://www.post.japanpost.jp/cgi-zip/zipcode.php?zip=<%- card['zipCode'] %>" target="_blank"><%- card['zipCode'] %></a></span>
        </div>
        <div>
          <label>住所１</label>
          <span><a href="https://www.google.co.jp/search?q=<%- card['address1'] %>" target="_blank"><%- card['address1'] %></a></span>
        </div>
        <div>
          <label>住所２</label>
          <span><a href="https://www.google.co.jp/search?q=<%- card['address2'] %>" target="_blank"><%- card['address2'] %></a></span>
        </div>
        <div>
          <label>FAX番号</label>
          <span><a href="https://www.google.co.jp/search?q=<%- card['fax'] %>" target="_blank"><%- card['fax'] %></a></span>
        </div>
        <div>
          <label>携帯電話</label>
          <span><a href="https://www.google.co.jp/search?q=<%- card['cellphone'] %>" target="_blank"><%- card['cellphone'] %></a></span>
        </div>
        <div>
          <label>メールアドレス</label>
          <span><a href="mailto:<%- card['mail'] %>" target="_blank"><%- card['mail'] %></a></span>
        </div>
        <div>
          <label>URL</label>
          <span><a href="<%- card['url'] %>" target="_blank"><%- card['url'] %></a></span>
        </div>
        <div>
          <label>備考</label>
          <span><%- card['note'] %></span>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default">
            <span class="fa fa-edit card-<%- card['id'] %>-edit"></span>
            編集
          </button>
          <button type="button" class="btn btn-default">
            <span class="fa fa-trash card-<%- card['id'] %>-delete"></span>
            削除
          </button>
          <button type="button" class="btn btn-default">
            <span class="fa fa-clone card-<%- card['id'] %>-clone"></span>
            コピー
          </button>
          <button type="button" class="btn btn-default">
            <span class="fa fa-close card-<%- card['id'] %>-close"></span>
            閉じる
          </button>
        </div>
      </div>
    </script>
    <!-- script -->
    <!-- error -->
    <script src="js/mylib/error.js"></script>
    <!-- lib -->
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/jquery-3.2.0.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/sha256.js"></script>
    <!-- mylib -->
    <script src="js/mylib/common.js"></script>
    <script src="js/mylib/confirm.js"></script>
    <script src="js/mylib/init.js"></script>
    <script src="js/mylib/popover.js"></script>
    <script src="js/mylib/process-stack.js"></script>
    <script src="js/mylib/project.js"></script>
    <script src="js/mylib/scroll.js"></script>
    <script src="js/mylib/static-class.js"></script>
    <script src="js/mylib/switch.js"></script>
    <script src="js/mylib/util-class.js"></script>
    <script src="js/mylib/extension.js"></script>
    <script src="js/mylib/content.js"></script>
    <!-- myapp -->
    <script src="js/myapp/bcb-process.js"></script>
    <script src="js/myapp/user.js"></script>
    <script src="js/myapp/card.js"></script>
    <!-- app -->
    <script src="js/global.js"></script>
    <script src="js/myapp.js"></script>
  </body>
</html>
