<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- mylib -->
    <link href="css/mylib/common.css" rel="stylesheet">
    <link href="css/mylib/main.css" rel="stylesheet">
    <link href="css/mylib/tablet.css" rel="stylesheet">
    <link href="css/mylib/medium-desktop.css" rel="stylesheet">
    <link href="css/mylib/large-desktop.css" rel="stylesheet">
    <link href="css/mylib/debug.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <!-- title -->
    <title>Business Card Bank</title>
  </head>
  <body style="display:none;">
    <!-- header -->
    <header>
      <h1>Business Card Bank</h1>
    </header>
    <!-- nav -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarTop">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarTop">
          <ul class="nav navbar-nav">
            <li id="action-desc"><a>Desc</a></li>
            <li id="action-user"><a>Login</a></li>
            <li id="action-card"><a>Card</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- main -->
    <main>
      <!-- desc -->
      <div class="content" id="desc-area"></div>
      <!-- user -->
      <div class="content" id="user-area"></div>
      <!-- card -->
      <div class="content" id="card-area">
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>氏名</th>
                <th>カナ</th>
                <th>会社名</th>
                <th>カナ</th>
                <th>所属</th>
                <th>郵便番号</th>
                <th>住所１</th>
                <th>住所２</th>
                <th>電話番号</th>
                <th>FAX番号</th>
                <th>メールアドレス</th>
                <th>携帯電話</th>
                <th>URL</th>
                <th>備考</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer>
      <p id="footer-text">
        @ 2017 <a href="https://github.com/AyaNakazawa/business_card_bank" target="_blank">Business Card Bank</a>
      </p>
    </footer>
    <!-- confirm -->
    <div id="confirm-view"></div>
    <!-- template -->
    <!-- confirm-view -->
    <script type="text/template" id="confirm-view-template">
      <div id="<%- confirmId %>" class="modal fade" data-backdrop="static" data-keyboard="false" data-html="true" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" id="<%- confirmId %>-close">
                <span>
                  <i class="fa fa-close"></i>
                </span>
              </button>
              <h4 class="modal-title"><%- confirmTitle %></h4>
            </div>
            <div class="modal-body"><%- confirmMessage %></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="<%- confirmId %>-yes"><%- yes %></button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="<%- confirmId %>-no"><%- no %></button>
            </div>
          </div>
        </div>
      </div>
    </script>
    <!-- logined-template -->
    <script type="text/template" id="logined-template">
      <div class="content-item" id="logined-message">
        <label for="logined-id">ID</label>
        <span class="help-icon fa fa-question-circle" id="logined-id-help"></span>
        <input type="text" id="logined-id" class="form-control" value="<%- id %>" disabled>
      </div>
      <div class="content-item form-group" id="logined-logout-area">
        <button class="btn btn-default" id="logout-submit"><i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト</button>
      </div>
    </script>
    <!-- alert-template -->
    <script type="text/template" id="alert-template">
      <div class="alert alert-<%- type %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span class="fa fa-close" aria-hidden="true"></span>
        </button>
        <%- message %>
      </div>
    </script>
    <!-- not-login-template -->
    <script type="text/template" id="not-login-template">
      <div class="content-item" id="user-id-area">
        <label for="user-id">ID</label>
        <span class="help-icon fa fa-question-circle" id="user-id-help"></span>
        <input type="text" id="user-id" class="form-control" value="<%- id %>" placeholder="Enter your ID">
      </div>
      <div class="content-item form-group" id="user-password-area">
        <label for="user-password">パスワード</label>
        <span class="help-icon fa fa-question-circle" id="user-password-help"></span>
        <input type="password" id="user-password" class="form-control" value="<%- password %>" placeholder="Enter your password">
      </div>
      <!-- <div class="content-item" id="user-check-area">
        <span class="checkbox">
          <label><input type="checkbox" id="user-check">ログインしたままにする</label>
        </span>
        <span class="help-icon fa fa-question-circle" id="user-check-help"></span>
      </div> -->
      <div class="content-item form-group" id="login-submit-area">
        <button class="btn btn-default" id="login-submit"><i class="fa fa-sign-in" aria-hidden="true"></i> ログイン</button>
        <button class="btn btn-default" id="signup-submit"><i class="fa fa-user-plus" aria-hidden="true"></i> サインアップ</button>
      </div>
    </script>
    <!-- loading-template -->
    <script type="text/template" id="loading-template">
      <div class="content-header">
        <%- header %>
        <span class="fa fa-spinner loading-spinner"></span>
      </div>
      <div class="content-item">
        <%- message %>
      </div>
    </script>
    <!-- script -->
    <!-- lib -->
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/jquery-3.2.0.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/sha256.js"></script>
    <!-- mylib -->
    <script src="js/mylib/common.js"></script>
    <script src="js/mylib/confirm.js"></script>
    <script src="js/mylib/init.js"></script>
    <script src="js/mylib/popover.js"></script>
    <script src="js/mylib/process-stack.js"></script>
    <script src="js/mylib/project.js"></script>
    <script src="js/mylib/scroll.js"></script>
    <script src="js/mylib/static-class.js"></script>
    <script src="js/mylib/switch.js"></script>
    <script src="js/mylib/util-class.js"></script>
    <script src="js/mylib/content.js"></script>
    <!-- myapp -->
    <script src="js/myapp/bcb-process.js"></script>
    <script src="js/myapp/user.js"></script>
    <script src="js/myapp/card.js"></script>
    <!-- app -->
    <script src="js/global.js"></script>
    <script src="js/myapp.js"></script>
  </body>
</html>
