@charset "utf-8";

// common

body {
  background: $app-back;
}

nav * {
  background: $app-back;
}

// card-area

#card-area {
  #card-search {
    display: inline-table;
  }
  
  .card-main {
    cursor: pointer;
  }
  
  .card-hover {
    background: #fdfdfd;
    @include margin-auto(0px);
    padding: 8px;
    position: absolute;
    @include border-c();
    border-radius: 0 0 $border-radius-size $border-radius-size;
    z-index: $z-card-hover;
    
    label {
      width: 140px;
      text-align: right;
    }
    
    label::after {
      content: ':';
    }
    
    .card-image-area {
      padding: 8px;
      display: inline-block;
      
      .card-image {
        width: 240px;
        height: auto;
        padding: 2px;
        border: 1px solid $border-color;
      }
    }
    
    .btn-group {
      width: 100%;
      text-align: center;
      
      .btn {
        width: (100% / 4);
      }
    }
  }
}

// card-detail-area

#card-detail-area {
  
  .detail-upload {
    display: none;
  }
}
