@charset "utf-8";

// Tablet

@include media($size-tablet) {
  
  // content
  
  .content-item .content-label {
    width: $content-label-side - 40px;
    line-height: 34px;
    text-align: right;
    position: relative;
  }
  
  .content-item .content-input {
    width: 100%;
    margin-left: 0 - $content-label-side;
    padding-left: $content-label-side;
    position: relative;
    float: right;
  }
  
  .content-item .content-input input {
    width: 100%;
  }
  
  .content .form-group {
    width: auto;
    margin-left: $content-label-side;
  }
}
