
// var

$none: none;

// main

$main-back: #fff;
$main-color: #333;
$main-color-active: #111;
$main-color-passive: #666;

// border

$border-size: 1px;
$border-radius-size: 4px;

$border-style: solid;

$border-color: #ddd;
$border-color-active: #666;
$border-color-passive: #ccc;

// content

$content-label-side: 160px;

// app

$app-back: #f8f8f8;

// function

@mixin transition($type:all, $time:.5s) {
  -webkit-transition: $type $time;
  -o-transition: $type $time;
  transition: $type $time;
}

@mixin margin-auto($top:$none, $bottom:$none) {
  @if $bottom != $none {
    margin: $top auto $bottom;
  } @else if $top != $none {
    margin: $top auto;
  } @else {
    margin-left: auto;
    margin-right: auto;
  }
}
